# Get from https://aistudio.google.com/
GEMINI_API_KEY=

# Get from https://platform.openai.com/api-keys
OPENAI_API_KEY=

# Get from https://console.anthropic.com/
ANTHROPIC_API_KEY=

# Get from https://dashboard.exa.ai/home
EXA_API_KEY=

# Get from https://logfire.pydantic.dev
LOGFIRE_TOKEN=

# Get from https://console.mathpix.com/
MATHPIX_APP_ID=
MATHPIX_APP_KEY=